@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
  max-width: 100%;
  font-family: Arial, sans-serif;
}

body {
  font-size: 62.5%;
  background-color: #b7bbf7;
}

header {
  background-image: linear-gradient(purple, #b7bbf7);
  color: white;
  font-size: 3rem;
  padding: 2rem;
  /* border-bottom: black 3px solid; */
}

h1 {
  font-family: 'Chewy', cursive;
}

header h3 {
  font-size: 1.5rem;
  padding: 0.8rem;
}

.pic img {
  border: white 10px solid;
  border-radius: 25px;
  margin: 1.5rem;
  max-width: 450px;
}

.fact {
  color: purple;
  font-size: 1.5rem;
  max-width: 80%;
  margin: 0 auto;
}

button {
  color: white;
  background-color: purple;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-family: 'Chewy', cursive;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 1rem;
}

.App {
  text-align: center;
}

.error {
  color: red;
}
